.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/
coverage/
tmp/
log/
node_modules/
dist/
*.tsbuildinfo
vendor/bundle/
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.pem
*.key


/.ignoreme/
/.history/
