.env
.env.*
!.env.example
.DS_Store
.idea/
.vscode/
coverage/
tmp/
log/
node_modules/
dist/
*.tsbuildinfo
vendor/bundle/
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
!*.tfvars.example
*.pkrvars.hcl
!example.pkrvars.hcl
backend.hcl
!backend.hcl.example
crash.log
*.pem
*.key


/.ignoreme/
/.history/
__pycache__/
*.py[cod]

*.tgz
